<div class="legend">
    <p>
        <strong>You can search spatially by:</strong>
        <br/>
        Providing the latitude and longitude coordinates OR selecting LGA (Local Government Area) OR drawing an extent box.
    </p>
    <p>

        <ul class="unstyled">
            To draw an extent box, click anywhere on the map for the drawing toolkit.

            <li>- <strong>Draw a Polygon:</strong> <span>To draw the shape you want, click a start point on the map and drag and click an endpoint;</span>
                <p>continue this to draw shape and finish at the start point.</p></li>
            <li>- <strong>Draw a Rectangle:</strong> Select a square area on the map.</li>
            <li>- <strong>Set a Point:</strong> Add a marker at a specific location.</li>
        </ul>
    </p>

</div>
