<div class="legend">
    <ul class="unstyled">
        <li>
            <strong>
                <i class="icon icon-pencil"></i>
                {{ _('Polygon') }}:
            </strong>
            {{ _('To draw the shape you want, click a start point on the map and drag and click an endpoint; continue this to draw shape and finish at the start point.') }}
        </li>
        <li>
            <strong>
                <i class="icon icon-edit"></i>
                {{ _('Rectangle') }}:
            </strong>
            {{ _('Select a square area on the map.') }}
        </li>
        <li>
            <strong>
                <i class="icon icon-map-marker"></i>
                {{ _('Point') }}:
            </strong>
            {{ _('Add a marker at a specific location.') }}
        </li>
    </ul>
</div>
